@model CartViewModel

@{
    var products_count = Model.ItemsCount > 0 ? Model.ItemsCount : (int?)null;
    var info = products_count is null ? null : $"({products_count})";
}

<a asp-controller="Cart" asp-action="Details">
    <i class="fa fa-shopping-cart"></i> Корзина @info
</a>

