<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>

    <invironment include="Development">
        <!-- BOOTSTRAP STYLES-->
        <link href="~/admin/assets/css/bootstrap.css" rel="stylesheet" />
        <!-- FONTAWESOME STYLES-->
        <link href="~/admin/assets/css/font-awesome.css" rel="stylesheet" />
        <!-- CUSTOM STYLES-->
        <link href="~/admin/assets/css/custom.css" rel="stylesheet" />
    </invironment>

    <invironment exclude="Development">
        <link href="~/admin/assets/css/site.min.css" rel="stylesheet" asp-append-version="true">
    </invironment>

    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="adjust-nav">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="~/admin/assets/img/logo.png" />
                    </a>
                </div>
                <span class="logout-spn">
                    <a asp-controller="Account" asp-action="Logout" asp-area="" style="color:#fff;">Выйти</a>
                </span>
            </div>
        </div>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <a asp-action="Index" asp-controller="Home" asp-area="Admin">
                            <i class="fa fa-desktop ">
                            </i>Dashboard <span class="badge">!</span>
                        </a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Products" asp-area="Admin">
                            <i class="fa fa-edit ">
                            </i>Редактор продуктов <span class="badge">!</span>
                        </a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Home" asp-area="">
                            <i class="fa fa-edit ">
                            </i>Вернуться на сайт <span class="badge">!</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>@ViewBag.Title</h2>
                    </div>
                </div>

                @RenderBody()

            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <div class="footer">
        <div class="row">
            <div class="col-lg-12">
                &copy;  2014 WebStore | Design by: <a href="http://binarytheme.com" style="color:#fff;" target="_blank">www.binarytheme.com</a>
            </div>
        </div>
    </div>
    <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <invironment include="Development">
        <!-- JQUERY SCRIPTS -->
        <script src="~/admin/assets/js/jquery-1.10.2.js"></script>
        <!-- BOOTSTRAP SCRIPTS -->
        <script src="~/admin/assets/js/bootstrap.min.js"></script>
        <!-- CUSTOM SCRIPTS -->
        <script src="~/admin/assets/js/custom.js"></script>
    </invironment>
    <invironment exclude="Development">
        <script src="~/admin/assets/js/site.min.js" asp-append-version="true"></script>
    </invironment>


</body>
</html>
